.flex {
    background-color: lightblue;
    border: 1px solid black;

    height: fit-content;

    display: flex;

    /* Main axis  - glavna oska (default e horizontalna) */
    /* Cross axis - sporedna oska (default e vertikalna) */
    flex-direction: row;

    /* Pozicionira vo odnos na glavnata oska (Main Axis) */
    justify-content: flex-start;
    /* Pozicionira vo odnos na sporednata oska (Cross Axis) */
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    /* row-gap: 10px;
    column-gap: 20px; */

    flex-wrap: wrap;

}


.box {
    background-color: lightslategray;
    border: 1px solid darkslategray;
    width: 150px;
    height: 200px;
    /* margin-right: 10px;
    margin-bottom: 10px; */
}